body {
  color: #212121;
}

p {
  color: #757575;
}

ul {
  list-style: none;
}

.header-logo {
  color: #212121;
}

.header-span {
  color: blue;
}

.header-nav {
  color: #212121;
}

.header-contacts {
  color: #757575;
}

.header-nav:hover,
.header-nav:focus {
  color: #2196f3;
}

.header-contacts:hover,
.header-contacts:focus {
  color: #2196f3;
}

.main-title {
  color: #ffffff;
}

.main-button {
  color: #ffffff;
}

.footer-contacts {
  color: #ffffff;
}
