body {
  background-color: #ffffff;
  color: #212121;
}

p,
.contacts {
  color: #757575;
}

footer {
  background-color: #2f303a;
}

.list {
  list-style: none;
}

.logo {
  color: #000000;
}

.logo-span {
  color: #2196f3;
}

.header-nav {
  color: #212121;
}

.header-nav:hover,
.header-nav:focus {
  color: #2196f3;
}

.main-section {
  background-color: #2f303a;
}

.main-title {
  color: #ffffff;
}

.main-content {
  background-color: #e5e5e5;
}

.main-command {
  background-color: #f5f4fa;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
