:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  background-color: var(--white-color);
  color: var(--title-text-color);
}

p {
  color: var(--primary-text-color);
}

footer {
  background-color: #2f303a;
}

.list {
  list-style: none;
}

.logo {
  color: #000000;
}

.logo-span {
  color: var(--accent-color);
}

.header-nav {
  color: var(--title-text-color);
}

.contacts {
  color: var(--primary-text-color);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--accent-color);
}

.header-nav.current {
  color: var(--accent-color);
}

.main-section {
  background-color: #2f303a;
}

.main-title {
  color: var(--white-color);
}

.main-content {
  background-color: #e5e5e5;
}

.main-command {
  background-color: #f5f4fa;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-portfolio {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
}
